.Your_custom_class {
    height: 80px; 
    width: 80px; overflow:hidden;
}

.openerp .oe_form .oe_form_field_image img {
    max-width:80px; 
    max-height: 80px;
}
.o_phone_content a.o_form_uri {
direction: ltr /* rtl:ignore */;
}
