.Your_custom_class {
    height: 80px; 
    width: 80px; overflow:hidden;
}

.openerp .oe_form .oe_form_field_image img {
    max-width:80px; 
    max-height: 80px;
}
#recipient_single_number_itf {
    direction: ltr /* rtl:ignore */;
}
.o_field_cell .o_list_char{
    direction: ltr /* rtl:ignore */;
}
td[name="contact_no"] {
    direction: ltr /* rtl:ignore */;
}
